name: daily-devcard

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.2.1
        with:
          user_id: ${{ secrets.DAILYDEV_USER_ID }}
          commit_branch: devcard
          commit_message: "chore: update ${filename}"

  devcard-background:
    needs: devcard
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Enable OIDC
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: devcard

      - uses: mfinelli/setup-imagemagick@v7
      - uses: chainguard-dev/actions/setup-gitsign@main

      - name: Setup git
        run: |
          git config --global tag.gpgsign true

      - name: Add devcard on background
        run: |
          magick composite -compose Over -gravity center devcard.png background.jpg devcard-background.jpg
          magick composite -compose Over -gravity center devcard.png background.jpg miff:- | magick - -quality 90 devcard-background.webp
          magick composite -compose Over -gravity center devcard.png background.jpg miff:- | magick - -quality 90 devcard-background.avif

      - name: Commit and push
        run: |
          git add devcard-background.jpg devcard-background.webp devcard-background.avif
          git commit -m "chore: update devcard background"
          git push origin devcard
