name: Metrics

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: devcard
        uses: omBratteng/action-devcard@1.0.0
        with:
          hash: ${{ secrets.DEVCARD_HASH }}
          commit_branch: devcard
          commit_message: "chore: update ${filename}"
